PORT=3003

DOMAIN=checkout.paytech.app.br
BASE_URL=https://checkout.paytech.app.br

MERCADOPAGO_PUBLIC_KEY=your_public_key_here
MERCADOPAGO_ACCESS_TOKEN=your_access_token_here

SUCCESS_URL=https://paytech.app.br/success
FAILURE_URL=https://paytech.app.br/error
PENDING_URL=https://paytech.app.br/pending
